<%- include("partials/header") %>

<section class="cart-page">

    <h1>Your Shopping Cart</h1>

    <div class="cart-container">

        <!-- LEFT -->

        <div class="cart-items">

            <% if(cart.length > 0){ %>

                <% cart.forEach(item => { %>

                    <div class="cart-item">

                        <img
                        src="/uploads/<%= item.product.image %>"
                        alt="">

                        <div class="cart-info">

                            <h3>
                                <%= item.product.name %>
                            </h3>

                            <p>
                                 ₹<%= item.product.price %>
                            </p>

                            <!-- QUANTITY -->

                            <div class="quantity">

                                <a href="/cart/decrease/<%= item.product._id %>">
                                    <button>-</button>
                                </a>

                                <span>
                                    <%= item.quantity %>
                                </span>

                                <a href="/cart/increase/<%= item.product._id %>">
                                    <button>+</button>
                                </a>

                            </div>

                        </div>

                        <!-- REMOVE -->

                        <a
                        href="/cart/remove/<%= item.product._id %>">

                            <button class="remove-btn">
                                Remove
                            </button>

                        </a>

                    </div>

                <% }) %>

            <% } else { %>

                <h2>Cart Is Empty</h2>

            <% } %>

        </div>

        <!-- SUMMARY -->

        <div class="cart-summary">

            <h2>Order Summary</h2>

            <div class="summary-row total">

                <span>Total</span>

                <span> ₹<%= total %></span>

            </div>

           <a href="/checkout" class="checkout-link"
>             Proceed To Checkout
            </a>

        </div>

    </div>

</section>

<%- include("partials/footer") %>